@charset "UTF-8";
.Header {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: larger;
  background-color: #809fff;
  color: #ffffe6;
  border-radius: 15px;
  min-height: 2.5em;
  border: solid;
  border-color: white;
  flex-wrap: wrap;
  position: sticky;
  top: 2.5em;
  border: solid;
  border-color: white;
}

.IntroButton {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: larger;
  background-color: #809fff;
  color: #ffffe6;
  border-radius: 15px;
  min-height: 2.5em;
  border: solid;
  border-color: white;
  justify-content: center;
}

.IntroButton:hover,
#lIntroButton:hover {
  cursor: pointer;
  color: red;
}

.hSearch {
  margin-left: 2em;
  align-items: center;
}

.hOffset {
  display: none;
  margin-left: 1em;
  margin-right: 2em;
  align-items: center;
}

.hItemsPerPage {
  align-items: center;
}

.hItemsPerPage::before {
  content: '◇';
  position: relative;
  top: 0px;
  left: -7 px;
  font-size: smaller;
}

.hItemsPerPage::after {
  content: '◇';
  position: relative;
  top: 0px;
  left: 7 px;
  font-size: smaller;
}

.hSearchType {
  margin-right: 2em;
  align-items: center;
}

#lOffset {
  align-items: center;
  position: relative;
  top: +0.11em;
}

#lOffset::after {
  content: ' (0 - 964)';
  font-size: 12px;
}

.hSearch,
.hItemsPerPage,
.hOffset {
  flex: 1;
  display: block;
}

#sExpression,
#sSearchType {
  width: 6em;
  margin-left: 0.5em;
}

#nOffset,
#nItemsPerPage {
  width: 4em;
  margin-left: 0.5em;
}
