@charset "UTF-8";
.DataTable {
  background-color: #809fff;
  color: #ffffe6;
  font-size: larger;
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  flex: 1;
}

.DataRow:hover {
  color: yellow;
  cursor: pointer;
}

.imagePokemon {
  height: 200px;
  width: 200px;
}

/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
  min-width: 408px;
  max-width: 720px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.id,
.name,
.weight,
.height,
.base_experience,
.ability,
.type1,
.type2 {
  cursor: pointer;
  white-space: nowrap;
}

.id:hover,
.name:hover,
.weight:hover,
.height:hover,
.base_experience:hover,
.ability:hover,
.type1:hover,
.type2:hover {
  color: red;
}

#sortColumn1,
#sortColumn-1 {
  color: yellow;
}

#sortColumn1::after {
  content: ' ⇡';
  position: relative;
  top: -5 px;
  left: -5px;
}

#sortColumn-1::after {
  content: ' ⇣';
  position: relative;
  top: 5 px;
  left: -5px;
}

.tdAuthor {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  width: 10em;
}

.tdDescription {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.tdid {
  text-align: center;
  width: 4em;
}

.tdname {
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}

.tdweight {
  text-align: center;
  width: 5em;
}

.tdheight {
  text-align: center;
  width: 5em;
}

.tdbase_experience {
  text-align: center;
  width: 5em;
}

.tdability {
  text-align: center;
  width: 5em;
  text-transform: capitalize;
  white-space: nowrap;
}

.tdtype1,
.tdtype2 {
  text-align: center;
  width: 6em;
}

.tdtype1normal,
.tdtype2normal {
  background-color: #3d9e52;
}

.tdtype1fire,
.tdtype2fire {
  background-color: #f30909;
}

.tdtype1water,
.tdtype2water {
  background-color: #0e2fe9;
}

.tdtype1electric,
.tdtype2electric {
  background-color: #e9e20e;
}

.tdtype1grass,
.tdtype2grass {
  background-color: #aef02a;
}

.tdtype1ice,
.tdtype2ice {
  background-color: #53eaf0;
}

.tdtype1fighting,
.tdtype2fighting {
  background-color: #f12df8;
}

.tdtype1poison,
.tdtype2poison {
  background-color: #c035eb;
}

.tdtype1ground,
.tdtype2ground {
  background-color: #3b4130;
}

.tdtype1flying,
.tdtype2flying {
  background-color: #6fc3bc;
}

.tdtype1psychic,
.tdtype2psychic {
  background-color: #c28599;
}

.tdtype1bug,
.tdtype2bug {
  background-color: #504713;
}

.tdtype1rock,
.tdtype2rock {
  background-color: #444350;
}

.tdtype1ghost,
.tdtype2ghost {
  background-color: #e6cddc;
}

.tdtype1dragon,
.tdtype2dragon {
  background-color: #6e0c0c;
}

.tdtype1dark,
.tdtype2dark {
  background-color: #050505;
}

.tdtype1steel,
.tdtype2steel {
  background-color: #e98d25;
}

.tdtype1fairy,
.tdtype2fairy {
  background-color: #03ece0;
}

.tdtype1normal,
.tdtype2normal,
.tdtype1fire,
.tdtype2fire,
.tdtype1water,
.tdtype2water,
.tdtype1electric,
.tdtype2electric,
.tdtype1grass,
.tdtype2grass,
.tdtype1ice,
.tdtype2ice,
.tdtype1fighting,
.tdtype2fighting,
.tdtype1poison,
.tdtype2poison,
.tdtype1ground,
.tdtype2ground,
.tdtype1flying,
.tdtype2flying,
.tdtype1psychic,
.tdtype2psychic,
.tdtype1bug,
.tdtype2bug,
.tdtype1rock,
.tdtype2rock,
.tdtype1ghost,
.tdtype2ghost,
.tdtype1dragon,
.tdtype2dragon,
.tdtype1dark,
.tdtype2dark,
.tdtype1steel,
.tdtype2steel,
.tdtype1fairy,
.tdtype2fairy {
  text-align: center;
  width: 6em;
  color: white;
  text-transform: capitalize;
  border-radius: 15px;
}
