@mixin decorate {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: larger;
  background-color: #809fff;
  color: #ffffe6;
  border-radius: 15px;
  min-height: 2.5em;
}

.NavPanel {
  @include decorate;
  flex-wrap: wrap;
  //margin-bottom: 0.25em;
  position: sticky;
  top: 0;
  border: solid;
  border-color: white;
}

.lblContainer1 {
  margin-left: 2em;
  align-items: center;
}

.buttonsContainer {
  flex-direction: row;
  align-items: center;
  flex: 9;
  display: block;
}

.lblContainer2 {
  margin-right: 2em;
  align-items: center;
}

.lblContainer1 {
  flex: 1;
  display: block;
}

.navButton {
  background-color: transparent;
  border: solid;
  border-width: 2px;
  color: white;
  width: 1.8rem;
  //padding: 0.25em;
  text-align: center;
  // text-decoration: none;
  //display: inline-block;
  // font-size: 16px;
  margin: 0.25em;
  cursor: pointer;
  border-radius: 5px;
}

.navButton:hover {
  //background-color: white;
  color: red;
}

#currentPage {
  color: yellow;
  font-weight: bolder;
  //border-width: 3px;
}

.litemsLoaded {
  font-size: smaller;
}
